body {
    margin: 0;
    font-family: sans-serif;
    overflow: hidden;
}

.container {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.area {
    flex: 1;
    display: flex;
    gap: 12px;
}

.display {
    flex: 1;
    background-color: lightgrey;
}

.canvas {
    width: 100%;
    height: 100%;
}

.properties {
    min-width: 200px;
}

.structure-layer,
.structure-area,
.structure-structure {
    padding-left: 12px;
    margin-top: 8px;
}

.structure-layer {
    border-left: 1px lightgrey solid;
}

.structure-area {
    border-left: 1px red solid;
}

.structure-structure {
    border-left: 1px purple solid;
}
