body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.area {
    flex: 1;
    display: flex;
    gap: 12px;
}

.display {
    flex: 1;
    background-color: lightgrey;
}

.properties {
    min-width: 200px;
}
